body {
    font-family: roboto, sans-serif;
}

.hero,
footer {
    background-color: #1f2937;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.button,
.call-to-action {
    background-color: #3882f6;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 50px
}


.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}



.hero {
    display: flex;
    justify-content: center;
}

.hero-container {
    display: flex;
    justify-content: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #1f2937;
    color: #f9faf8;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.header-link {

}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}









.cards-container {
    display: flex;
    justify-content: center;
}

.cards-content {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-size: 18px;
    margin-top: 34px;
    padding: 0px 40px 120px 100px;
}

.cards {
    display: flex;
    gap: 46px;
    justify-content: center;
    width: 800px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: rgb(79, 79, 79);
}

.box {
    width: 160px;
    height: 160px;
    border: solid #3882f6 4px;
    border-radius: 12px;
}







.call-to-action-container {
    display: flex;
    justify-content: center;
}
.call-to-action {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1220px;
    background-color: white;
    flex: 1 1 auto;
    max-width: 1000px;
}

.call {
    display: flex;
    justify-content: space-between;
    margin: 80px;
    border-radius: 12px;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 50px 100px;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    max-width: 900px;

}








.quote {
    display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 1080px;*/
  padding: 0px 70px 100px 70px;
}

.quote-text {
    display: flex;
  width: 800px;
  margin-top: 100px;
  font-style: italic;
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quote-author {
    display: flex;
  width: 755px;
  justify-content: end;
  font-size: 24px;
  font-weight: 900
}

/*box-sizing: content-box;
display: flex;
float: none;
line-height: normal;
position: static;
z-index: auto;*/


footer {
    display: flex;
    justify-content: center;
    color:  #f9faf8;
}