body {
    font-family: roboto, sans-serif;
}

.hero,
footer {
    background-color: #1f2937;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.button,
.call-to-action {
    background-color: #3882f6;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
.hero {
    ;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}